block pageAttributes

doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
    meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
  
    link(rel='home' href='https://unnodejs.org')
    link(rel='canonical' href=pageCanonical)

    meta(name='robots' content='all')

    title= pageTitle

    link(rel='apple-touch-icon' sizes='180x180' href=require('FRONTEND/unnodejs/images/icons/apple-touch-icon.png').default)
    link(rel='icon' type='image/png' sizes='32x32' href=require('FRONTEND/unnodejs/images/icons/favicon-32x32.png').default)
    link(rel='icon' type='image/png' sizes='16x16' href=require('FRONTEND/unnodejs/images/icons/favicon-16x16.png').default)
    link(rel='mask-icon' href=require('FRONTEND/unnodejs/images/icons/safari-pinned-tab.svg').default color='#8d2794')
    meta(name='msapplication-TileColor' content='#9f00a7')
    meta(name='msapplication-TileImage' content=require('FRONTEND/unnodejs/images/icons/mstile-310x310.png').default)
    meta(name='theme-color' content='#ffffff')

    - const siteDescription = "Unnode.js is a framework that makes creating Node.js back ends easy. It provides you with process clustering, proper logging, web backend abstraction and vhosts (domain-based routing)"
    - const socialsImageUrl = 'https://unnodejs.org' + require('FRONTEND/unnodejs/images/social/card-image-2by1.png').default

    meta(name='description' content=siteDescription)

    meta(property='og:title' content=pageTitle)
    meta(property='og:description' content=siteDescription)
    meta(property='og:url' content=pageCanonical)
    meta(property='og:image' content=socialsImageUrl)
    meta(property='og:type' content="website")

    meta(name='twitter:title' content=pageTitle)
    meta(name='twitter:description' content=siteDescription)
    meta(name='twitter:image' content=socialsImageUrl)
    meta(name='twitter:card' content='summary_large_image')

    if self.htmlWebpackPlugin.options.isProduction === true
      script(async='' src='https://www.googletagmanager.com/gtag/js?id=G-8199X6KVX7')
      script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-8199X6KVX7');

  body
    #app

      block content

      footer.footer.is-size-7
        .container.is-fullhd.has-text-centered
          p.mb-5
            a(href='/legal/copyright' title='Website content copyright') Copyright
            |  &copy; {{ pageAttributes.copyrightYearsStr }} 
            a(href='https://ricforge.com' title='RicForge - Open source engineering.') RicForge
          p.mb-5
            | RicForge is a 
            a(href='https://nurminen.dev' title='Nurminen Development') Nurminen Development 
            | organization
          p.mb-5
            a(href='https://ricforge.com' title='RicForge - Open source engineering.' class='mr-6')
              img(src=require('FRONTEND/unnodejs/images/static/ricforge-logo-small.png').default alt='[ricforge-logo]') 
            a(href='https://nurminen.dev' title='Nurminen Development')
              img(src=require('FRONTEND/unnodejs/images/static/nurminendev-logo-small.png').default alt='[nurminendev-logo]')
          p.mb-5
            a(href='/legal/privacy-policy' title='Privacy policy') Privacy policy
            |  &ndash; 
            a(href='/legal/terms-of-service' title='Terms of Service') Terms of Service
          p.mb-5
            a(title='Realtime application protection' href='https://www.sqreen.com/?utm_source=badge')
              img(src=require('FRONTEND/shared/images/sqreen-light-badge.svg').default alt='[sqreen-badge]') 
