block pageAttributes

doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
    meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
  
    link(rel='home' href='https://nurminen.dev')
    link(rel='canonical' href=pageCanonical)

    meta(name='robots' content='all')

    title= pageTitle

    link(rel='apple-touch-icon' sizes='180x180' href=require('FRONTEND/nurminendev/images/icons/apple-touch-icon.png').default)
    link(rel='icon' type='image/png' sizes='32x32' href=require('FRONTEND/nurminendev/images/icons/favicon-32x32.png').default)
    link(rel='icon' type='image/png' sizes='16x16' href=require('FRONTEND/nurminendev/images/icons/favicon-16x16.png').default)
    link(rel='mask-icon' href=require('FRONTEND/nurminendev/images/icons/safari-pinned-tab.svg').default color='#8d2794')
    meta(name='msapplication-TileColor' content='#9f00a7')
    meta(name='msapplication-TileImage' content=require('FRONTEND/nurminendev/images/icons/mstile-310x310.png').default)
    meta(name='theme-color' content='#ffffff')

    - const siteDescription = "Software engineering, full-stack web development."
    - const socialsImageUrl = 'https://nurminen.dev' + require('FRONTEND/nurminendev/images/social/card-image-2by1.png').default

    meta(name='description' content=siteDescription)

    meta(property='og:title' content=pageTitle)
    meta(property='og:description' content=siteDescription)
    meta(property='og:url' content=pageCanonical)
    meta(property='og:image' content=socialsImageUrl)
    meta(property='og:type' content="website")

    meta(name='twitter:title' content=pageTitle)
    meta(name='twitter:description' content=siteDescription)
    meta(name='twitter:image' content=socialsImageUrl)
    meta(name='twitter:card' content='summary_large_image')


  body
    #app.container.is-widescreen.page-shadow

      block content

      footer.footer.is-size-7.has-text-centered
        p.mb-5
          a(href='/legal/copyright' title='Website content copyright') Copyright
          |  &copy; {{ pageAttributes.copyrightYearsStr }} Nurminen Development
        p.mb-5
          a(href='/legal/privacy-policy' title='Privacy policy') Privacy policy
          |  &ndash; 
          a(href='/legal/terms-of-service' title='Terms of Service') Terms of Service
        p.mb-5
          a(title='Realtime application protection' href='https://www.sqreen.com/?utm_source=badge')
            img(src=require('FRONTEND/shared/images/sqreen-mono-badge.svg').default alt='[sqreen-badge]') 
