extends layout/_application.pug

block pageTitle
  title Unnode.js - A Node.js back end framework

block content
  section#frontpage.hero.is-fullheight.header-image
    .hero-head
      - const isFrontPage = true
      include shared/_navbar.pug
    .hero-body
      .container.has-text-centered.has-text-white
        .columns.is-vcentered
          .column.is-5
            figure.image.is-square
              img(src=require('FRONTEND/unnodejs/images/static/unnodejs-logo-big.png').default alt='Unnode.js logo')
          .column.is-6.is-offset-1
            h1.title.is-2.has-text-grey-lighter.mb-6
              | A Node.js back end framework
            a(href='https://www.npmjs.com/package/unnode' title='Unnode.js @ npmjs.org')
              img.mb-6(src='https://img.shields.io/github/v/release/ricforge/unnode?color=ff8800&include_prereleases&label=Latest%20release&style=for-the-badge' alt='Latest release')
            p.has-text-centered
              a.button.is-medium.is-light.is-outlined(href='#learnmore')
                | Learn more

  section#learnmore
    .container.is-fullhd
      .columns.is-centered.mt-0
        .column.is-half
          figure.image.is-3by1
            img(src=require('FRONTEND/unnodejs/images/static/another-js-framework.png').default)
  
  section
    .container.is-fullhd.has-text-centered
      .content
        p.mb-4.is-size-5
          span.has-text-weight-bold Unnode.js 
          | is a framework that makes creating Node.js back ends easy. It provides you with 
          span.has-text-weight-bold process clustering
          | , 
          span.has-text-weight-bold proper logging
          | , 
          span.has-text-weight-bold web backend abstraction 
          | and 
          span.has-text-weight-bold vhosts with per-vhost TLS
          | . It's small, simple and doesn't force you into a strict framework-structure; you can still organize your project as you like.
        p.mb-4.is-size-5
          span.has-text-weight-bold It is 
          | a bare-bones framework for creating 
          span.is-italic hand-crafted, custom 
          | back ends where 
          span.is-italic speed and precision 
          | are of the essence.

  section.frontpage-features.is-mobile
    .container.is-fullhd
      .box
        .tile.is-ancestor
          .tile.is-parent.has-text-centered
            article.tile.is-child
              .columns.is-centered.is-mobile
                .column.is-two-thirds-tablet.is-one-third-mobile
                  figure.image.is-square.is-half
                    img(src=require('FRONTEND/unnodejs/images/static/node-cluster.png').default)
              p.subtitle Process clustering
              p.is-uppercase.is-size-7
                a(href='https://nodejs.org/api/cluster.html' title='Node Cluster') Node Cluster API
          .tile.is-parent.has-text-centered
            article.tile.is-child
              .columns.is-centered.is-mobile
                .column.is-two-thirds-tablet.is-one-third-mobile
                  figure.image.is-square.is-half
                    img(src=require('FRONTEND/unnodejs/images/static/express-js.png').default)
              p.subtitle Web backends abstraction
              p.is-uppercase.is-size-7.mb-4
                a(href='https://expressjs.com/' title='Express - Node.js web application framework') ExpressJS
              p.is-size-7 More to come...
          .tile.is-parent.has-text-centered
            article.tile.is-child
              .columns.is-centered.is-mobile
                .column.is-two-thirds-tablet.is-one-third-mobile
                  figure.image.is-square.is-half
                    img(src=require('FRONTEND/unnodejs/images/static/helmet-logo.png').default)
              p.subtitle Secure+graceful
              p.is-uppercase.is-size-7.mb-1
                a(href='https://helmetjs.github.io/' title='Express.js security with HTTP headers') Helmet
              p.is-uppercase.is-size-7
                a(href='https://www.npmjs.com/package/http-terminator' title='http-terminator - Gracefully terminates Node.js HTTP(S) server') http-terminator
          .tile.is-parent.has-text-centered
            article.tile.is-child
              .columns.is-centered.is-mobile
                .column.is-two-thirds-tablet.is-one-third-mobile
                  figure.image.is-square.is-half
                    img(src=require('FRONTEND/unnodejs/images/static/virtual-host-icon.png').default)
              p.subtitle Vhosts with per-vhost TLS
              p.is-uppercase.is-size-7
                a(href='/doc/latest/vhosts/' title='Documentation: Vhosts') Doc: Vhosts
          .tile.is-parent.has-text-centered
            article.tile.is-child
              .columns.is-centered.is-mobile
                .column.is-two-thirds-tablet.is-one-third-mobile
                  figure.image.is-square.is-half
                    img(src=require('FRONTEND/unnodejs/images/static/winston-logo.png').default)
              p.subtitle Proper logging
              p.is-uppercase.is-size-7.mb-1
                a(href='https://github.com/winstonjs/winston' title='Winston - A logger for just about everything.') Winston
              p.is-uppercase.is-size-7
                a(href='https://docs.rollbar.com/docs/nodejs' title='Rollbar with Node.js') Rollbar
          .tile.is-parent.has-text-centered
            article.tile.is-child
              .columns.is-centered.is-mobile
                .column.is-two-thirds-tablet.is-one-third-mobile
                  figure.image.is-square.is-half
                    img(src=require('FRONTEND/unnodejs/images/static/dotenv-logo.png').default)
              p.subtitle Easy configuration
              p.is-uppercase.is-size-7.mb-1
                a(href='/doc/latest/configuration' title='Documentation: Configuration') Doc: Configuration

  section
    .container.is-fullhd.mb-6
      .content.has-text-centered
        h2.mb-6 Getting started
        .columns.is-centered.mb-5
          .column.is-4
            .box.has-text-left
              p.monospaced npm install unnode
        p
          | ... and head on over to 
          a(href='/doc/latest/getting-started' title='Documentation: Getting started')
            | Documentation: Getting started 
